version: '3.8'
services:
  s2orcranker:
    build: .
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./src:/app/src
      - ./notebooks:/app/notebooks
      - ./annotator_app:/app/annotator_app
    ports:
      - "8888:8888"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    environment:
      - JUPYTER_TOKEN=123
    